html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

a:hover:hover {
  opacity: 0.7;
  transition: .3s;
  cursor: pointer;
}

.wow { visibility: hidden; }

.full_size_background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-full-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg {
  width: 100%;
  background: #fff;
}





/* ### HEADER ### */

header {
  position: relative;
  max-width: 1400px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  padding-bottom: 14px;
}

header .logo-block img {
  width: 296px;
  margin: auto;
  display: block;
}

header .contact-block {
  width: 200px;
  margin-left: 40px;
  margin-top: 25px;
}

header p {
  margin-bottom: 0px;
  margin-top: 4px;
}

header .icons {
  width: 200px;
  margin-top: 30px;
  margin-right: 40px;
  justify-content: flex-end;
}

header .like-icon {
  margin-right: 24px;
}






/* ### NAV ### */

header .navbar {
  margin-left: 20px;
  margin-top: 4px;
  cursor: pointer;
  display: none;
}

.nav-page {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  z-index: 999;
  top: -100vh;
  transition: .3s
}

.nav-page nav {
  width: 100%;
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-page nav a {
  text-align: center;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

header nav a {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

header .nav-active {
  color: #ad936d;
}

.open-menu {
  position: relative;
}


header .sub-menu {
  padding: 10px 20px;
  top: 20px!important;
  left: -20px;
  position: absolute;
  flex-direction: column;
  top: 0;
  z-index: 999;
  width: 300px;
  background: #fff;
  display: none;
  opacity: 0;
  transition: .8s ease-in-out;
}

.open-menu:hover .sub-menu {
  display: flex;
  opacity: 1;
  transition: .8s ease-in-out;
  animation: nav-open .5s cubic-bezier(0, .38, .86, 1);
}


header .sub-menu a {
  padding: 7px 0;
}

header nav a:last-child {
  margin-right: 0px;
}

.sub-menu__mobile {
  padding: 10px 0!important;
  margin: auto!important;
  left: 0!important;
  position: static!important;
}

.open-menu__mobile {
  width: 100%;
  display: flex; 
  justify-content: center;
}

.open-menu__mobile > a {
  width: 100%;
  box-sizing: border-box;
}

.nav-page img {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.nav-page .contact-block {
  text-align: center;
  margin: 0;
  width: 210px;
  margin: auto;
  margin-top: 20px;
}

.nav-page-active {
  top: 0vh;
  transition: .3s
}




/* ### FIRST SCREEN ### */

#first-screen {
  position: relative;
  width: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

#first-screen > .shop_house-plans-block {
  position: relative;
  background: #fff;
  width: 870px;
  height: 286px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
}

#first-screen .decor {
  animation: .5s page-title-animation ease-in;
}

#first-screen .top-decot-element {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

#first-screen .bot-decot-element {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#first-screen h1 {
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 110px;
  margin-bottom: 0px;
  max-width: 700px;
}

#first-screen h6 {
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
  max-width: 400px;
}

#first-screen a {
  text-decoration: none;
  color: #000;
}


#first-screen h6 a:last-child {
  color: #AD936D;
}





.placeholder {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 80px auto 0px auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

 .row {
  justify-content: space-between;
}

#form1 .text {
  box-sizing: border-box;
  padding: 50px;
  padding-left: 0px;
  width: 100%;
  max-width: 520px;
}

#form1 h2 {
  font-family: Lustria;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  text-decoration-line: underline;
  text-transform: capitalize;
}

#form2 h2 {
  font-family: Lustria;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: 50px;
}

#form1 ul li {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #454545;
}

.form {
  width: 100%;
  max-width: 570px;
  margin: auto;
}

.form input {
  width: 100%;
  border: 1px solid #000;
  width: 100%;
  padding: 7px;
  font-family: 'Open Sans';
  color: #A7A5A5;
  background: #f9f3ec;
}

.form .row input {
  margin-bottom: 10px;
}

.form .row input:first-child {
  margin-right: 5px;
}

.form .row input:last-child {
  margin-left: 5px;
}

.form button {
  border: none;
  font-family: 'Open Sans';
  font-size: 20px;
  color: #fff;
  background: #454545;
  border-radius: 0;
  width: 100%;
  height: 37px;
  margin-right: 15px;
  transition: .7s ease-in-out;
}

.attach-place {
  width: 100%;
  max-width: 418px;
  height: 37px;
  border: 1px solid #000;
}

.attach-bt {
  width: 100%;
  max-width: 142px;
  height: 37px;
}

textarea {
  background: #f9f3ec;
  width: 100%; 
  border: 1px solid #000;
  width: 100%;
  padding: 7px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-family: 'Open Sans';
  color: #A7A5A5;
  padding: 15px;
  border-radius: 0;
}

input[type="checkbox"] {
  width: auto!important;
}

#form2 .product {
  width: 100%;
  max-width: 1200px;
}

#form2 h3 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

#form2 .items h3 {
  text-align: center;
  width: 350px;
}

.product .title {
  width: 100%;
  justify-content: space-between;
}

.items .title {
  max-width: 178px;
}

.items img {
  margin: 15px;
}

.product .price-block {
  width: 270px;
  justify-content: space-around;
}

.one {
  align-items: center;
}

.title h6 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.title p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0;
  color: #cdcdcd;
}

.items {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 433px;
  padding: 70px 50px;
  background: #f9f3ec;
  border: 1px solid #000;
  margin-left: 50px;
  box-sizing: border-box;
}

.card p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  margin: 30px 0;
}

.card > button {
  width: 100%;
  height: 37px;
  font-weight: 300;
  background: #AD936D;
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;
  margin: 40px 0;
  transition: .7s ease-in-out;
}

.card > .row > button {
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  width: 100%;
  max-width: 134px;
  height: 37px;
  background: #454545;
  color: #fff;
  border-radius: 0;
  border: none;
}

.card h3:first-child {
  margin-top: 0;
}

.card > .row > input {
  border-radius: 0%;
  background: #fff;
  width: 100%;
  max-width: 170px;
  border: 1px solid #000;
  color: #cdcdcd;
  text-align: center;
}

.card img {
  margin-top: 30px;
  width: 100%;
  height: auto;
}







button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  transition:  .8s ease-in-out
}



.bottom-img {
  width: 100%;
  height: 425px;
  margin: 0 0 auto 0;
  padding: 0;
  background-image: url(../img/card-footer.jpg);
  background-attachment: fixed;
}





/* ### FOOTER ### */

footer {
  width: 100vw;
  margin: auto;
  background: #262626;
  color: #fff;
  padding: 0;
  background-attachment: fixed;
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

footer h2 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
}

footer h3 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin: 10px;
}

.eco-block {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.eco-block img {
  margin-right: 10px;
}

footer .logo {
  width: 90%;
  max-width: 297px;
  display: block;
  margin: auto;
  height: auto;
}

footer p {
  font-family: 'Lustria', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 0px;
}

footer .row {
  width: 292px;
  margin: auto;
}

footer .row p:last-child {
  padding-left: 24px;
}

footer nav {
  width: 80%;
  margin-left: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-around;
}

footer nav a {
  font-family: 'Lustria', serif;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}














/* ### -------------------- ADDAPYIVE -------------------- ### */

@media (min-width: 767px) and (max-width: 1100px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }


  button:hover {
    background: #fff;
    color: #AD936D;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: none;
    margin-left: 24px;
    border: 1px solid #AD936D;
    transition: .3s ease-in-out;
  }


  header .navbar {
    display: block;
  }

  #first-screen img {
    height: 400px;
    object-fit: cover;
  }

  #first-screen .shop_house-plans-block {
    width: 80%;
  }

  .placeholder {
    flex-direction: column;
    align-items: center;
  }

  .placeholder > .text {
    padding-right: 0!important;
  }

  .form {
    margin-bottom: 80px;
  }

  .card {
    margin-left: 0;
  }

}



@media (min-width: 560px) and (max-width: 766px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .navbar {
    display: block;
  }

  #first-screen img {
    height: 350px;
    object-fit: cover;
  }

  #first-screen .shop_house-plans-block {
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 30px;
    margin-top: 0px;
    padding-top: 90px;
    max-width: 400px;
  }

  #first-screen h6 {
    max-width: 300px;
  }

  .placeholder {
    flex-direction: column;
    align-items: center;
  }

  .placeholder > .text {
    padding-right: 0!important;
  }

  .form {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .card {
    margin-left: 0;
  }

  .product .items {
    flex-direction: column;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}

@media (min-width: 0px) and (max-width: 560px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block img {
    width: 150px;
    padding-top: 3px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .icons img {
    width: 20px;
  }

  .form .row input:first-child {
    margin-right: 0px;
  }

  .form .row input:last-child {
    margin-left: 0px!important;
  }

  header .navbar {
    margin-top: 0px;
    display: block;
  }

  #first-screen .shop_house-plans-block {
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 22px;
    padding-top: 80px;
  }

  .bot-decot-element {
    display: none;
  }

  .top-decot-element {
    display: none;
  }

  #first-screen h6 {
    max-width: 200px;
  }

  .placeholder {
    flex-direction: column;
    align-items: center;
  }

  .placeholder > .text {
    padding-right: 0!important;
  }

  .form {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .attach-bt {
    margin-right: 0!important;
  }

  .row {
    flex-direction: column;
  }

  .row > * {
    width: inherit!important;
    max-width: 100%!important;
    margin-bottom: 10px;
    height: 37px;
  }

  .card {
    margin-left: 0;
  }

  .product .items {
    flex-direction: column;
  }

  footer h2 {
    font-size: 30px;
  }

  #details {
    width: 90%;
    margin: auto;
  }

  #order {
    width: 90%;
    margin: auto;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}




















@keyframes page-title-animation {
  0% {
    height: 30%;
    width: 1px;
  }

  100% {
    height: 15px;
    width: 15px;
  }
}



@keyframes nav-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}













/* ### -------------------- THE END-------------------- ### */
