html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

a:hover {
  opacity: 0.7;
  transition: .3s;
  cursor: pointer;
}

.wow { visibility: hidden; }

.full_size_background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-full-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg {
  width: 100%;
  background: #fff;
}





/* ### HEADER ### */

header {
  position: relative;
  max-width: 1400px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  padding-bottom: 14px;
}

header nav a:last-child {
  margin-right: 0px;
}

header .logo-block img {
  width: 296px;
  margin: auto;
  display: block;
}

header .contact-block {
  width: 200px;
  margin-left: 40px;
  margin-top: 25px;
}

header p {
  margin-bottom: 0px;
  margin-top: 4px;
}

header .icons {
  width: 200px;
  margin-top: 30px;
  margin-right: 40px;
  justify-content: flex-end;
}

header .like-icon {
  margin-right: 24px;
}





/* ### NAV ### */

header .navbar {
  margin-left: 20px;
  margin-top: 4px;
  cursor: pointer;
  display: none;
}

.nav-page {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  z-index: 999;
  top: -100vh;
  transition: .3s
}

.nav-page nav {
  width: 100%;
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-page nav a {
  text-align: center;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

header nav a {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

header .nav-active {
  color: #ad936d;
}

.open-menu {
  position: relative;
}


header .sub-menu {
  padding: 10px 20px;
  top: 20px!important;
  left: -20px;
  position: absolute;
  flex-direction: column;
  top: 0;
  z-index: 999;
  width: 300px;
  background: #fff;
  display: none;
  opacity: 0;
  transition: .8s ease-in-out;
}

.open-menu:hover .sub-menu {
  display: flex;
  opacity: 1;
  transition: .8s ease-in-out;
  animation: nav-open .5s cubic-bezier(0, .38, .86, 1);
}


header .sub-menu a {
  padding: 7px 0;
}

header nav a:last-child {
  margin-right: 0px;
}

.sub-menu__mobile {
  padding: 10px 0!important;
  margin: auto!important;
  left: 0!important;
  position: static!important;
}

.open-menu__mobile {
  width: 100%;
  display: flex; 
  justify-content: center;
}

.open-menu__mobile > a {
  width: 100%;
  box-sizing: border-box;
}

.nav-page img {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.nav-page .contact-block {
  text-align: center;
  margin: 0;
  width: 210px;
  margin: auto;
  margin-top: 20px;
}

.nav-page-active {
  top: 0vh;
  transition: .3s
}







/* ### FIRST SCREEN ### */

#first-screen {
  position: relative;
  width: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

#first-screen .hero-img {
  position: relative;
  width: 100%;
  height: 425px;
  overflow: hidden;
}

#first-screen .first-screen-img {
  position: relative;
  width: 100%;
  height: 425px;
  -o-object-fit: cover;
  object-fit: cover;
  background-attachment: fixed;
  animation: title-img 3s cubic-bezier(0, .38, .86, 1);
}

.onTop {
  position: absolute;
  z-index: 998;
  width: 421px!important;
  left: 50%;
  bottom: 0;
}

#first-screen > .page-title {
  position: relative;
  background: #fff;
  width: 80%;
  max-width: 870px;
  height: 286px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: -90px auto 50px auto;
}

#first-screen .decor {
  animation: .5s page-title-animation ease-in;
}

#first-screen .top-decot-element {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

#first-screen .bot-decot-element {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#first-screen h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
}

#first-screen h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

#first-screen h6 a {
  text-decoration: none;
  color: #000;
}

#first-screen h6 a:last-child {
  color: #AD936D;
}





/* ### SAIL ### */

#sail {
  position: relative;
  margin-top: 90px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#sail .sail-off {
  position: relative;
}

#sail .sail-off h2 {
  position: absolute;
  color: #5C5956;
  font-family: Lustria;
  font-size: 90px;
  line-height: 115px;
  text-align: center;
  width: 50%;
  max-width: 270px;
  left: 45%;
  top: 15%;
  transform: translate(-50% -50%);
}

#sail .sail-title {
  position: relative;
  margin-top: 80px;
  box-sizing: border-box;
  height: 425px;
  width: 50%;
  max-width: 660px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sail .sail-title h3 {
  text-align: center;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
}

#sail .sail-title p:last-child {
  margin-bottom: 0px;
}

#sail .sail-title p {
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  margin-top: 0;
}

.st-border {
  position: absolute;
  border: 1px solid #000;
  border-left: none;
}

.st-border-top {
  border-bottom: none;
  top: 0;
  left: 0;
}

.st-border-bot {
  border-top: none;
  border-right: none;
  bottom: 0;
  right: 0;
}

.st-border-top-active {
  width: 100%;
  height: 100%;
  animation: st 1s ease-in-out;
}

.st-border-bot-active {
  width: 100%;
  height: 100%;
  animation: st__bot 2s ease-in-out;
}






/* ### INFO ### */

#info {
  padding-bottom: 50px;
  width: 90%;
  margin: auto;
}

#info h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  margin-bottom: 0px;
}

#info .subscription {
  margin-top: 150px;
}

#info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 0px;
}

#info .list {
  justify-content: center;
  margin-bottom: 40px;
}

#info .list ul {
  max-width: 242px;
}

#info .list ul li {
  font-family: Lustria;
  font-size: 25px;
  line-height: 32px;
}

#info button {
  background: #AD936D;
  margin-bottom: 5px;
}

#info .houses-plans {
  margin-top: 50px;
  margin-bottom: 100px;
}

#info .contact-bt {
  background: #454545;
}

#info .houses-plans h6 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0;
  margin-top: 0px;
}

#info .houses-types {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card-content-inner_content {
  opacity: 0;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.65s cubic-bezier(0.43, 0.195, 0.02, 1);
}

.card-content-inner_content:hover {
  opacity: 1;
  transition: all 0.65s cubic-bezier(0.43, 0.195, 0.02, 1);
}

.card-content-inner_content > h3 {
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 300;
  text-align: center;
  margin-top: 20%;
}

.house-type {
  width: 25%;
  min-width: 300px;
  cursor: pointer;
}

.house-content-inner {
  position: relative;
}

.house-content-inner img {
  width: 100%;
  height: auto;
}

#info a {
  text-decoration: none;
  color: #AD936D;
}

#info h6 {
  font-family: 'Lustria', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 0px;
}

#info button {
  cursor: pointer;
  display: block;
  width: 256px;
  height: 36px;
  margin: auto;
  color: #fff;
  border: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  transition:  .8s ease-in-out
}

#info button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  transition:  .8s ease-in-out
}


.bottom-img {
  width: 100%;
  height: 425px;
  margin: 0 0 auto 0;
  padding: 0;
  background-image: url(../img/contactors-footer.jpg);
  background-attachment: fixed;
}

.bottom-img-message {
  width: 90%;
  margin: auto;
  max-width: 580px;
  height: inherit;
  margin-left: 20vw;
  text-align: center;
  font-family: Lustria;
}

.bottom-img-message h2 {
  font-weight: 300;
  font-size: 50px;
  line-height: 64px;
  margin: 0;
}

.bottom-img-message h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
}




/* ### FOOTER ### */

footer {
  width: 100vw;
  margin: auto;
  background: #262626;
  color: #fff;
  padding: 0;
  background-attachment: fixed;
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

footer h2 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
}

footer h3 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin: 10px;
}

.eco-block {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.eco-block img {
  margin-right: 10px;
}

footer .logo {
  width: 90%;
  max-width: 297px;
  display: block;
  margin: auto;
  height: auto;
}

footer p {
  font-family: 'Lustria', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 0px;
}

footer .row {
  width: 292px;
  margin: auto;
}

footer .row p:last-child {
  padding-left: 24px;
}

footer nav {
  width: 80%;
  margin-left: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-around;
}

footer nav a {
  font-family: 'Lustria', serif;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}












/* ### -------------------- ADDAPYIVE -------------------- ### */

@media (min-width: 767px) and (max-width: 1200px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .navbar {
    display: block;
  }


  #first-screen .onTop {
    width: 350px!important;
    height: auto;
  }


  #sail {
    flex-direction: column;
    align-items: center;
  }

  #sail .sail-title {
    margin-top: 0px;
    margin-bottom: 50px;
  }

}



@media (min-width: 531px) and (max-width: 766px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .navbar {
    display: block;
  }

  #first-screen img {
    height: 350px;
    object-fit: cover;
  }

  #first-screen .shop_house-plans-block {
    top: 300px;
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 30px;
  }

  #first-screen .list-block ul li {
    line-height: 30px;
  }

  #first-screen .onTop {
    width: 45%!important;
    height: auto;
  }


  #sail {
    flex-direction: column;
    align-items: center;
  }

  #sail .sail-title {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 80%;
  }

  #sail .sail-off img {
    width: 80%;
    margin-left: 5%; 
    height: auto;
  }

  #sail .sail-off h2 {
    font-size: 50px;
    top: 20%;
    left: 34%;
  }

  .bottom-img-message {
    margin-left: auto!important;
    margin-right: auto;
  }
  
  .bottom-img-message h2 {
    font-size: 40px;
  }
  
  .bottom-img-message h3 {
    font-size: 22px;
  }
  
  

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}

@media (min-width: 0px) and (max-width: 530px) {

  header {
    padding-bottom: 0px;
  }

  header .logo-block img {
    width: 150px;
    padding-top: 3px;
  }

  header .logo-block nav {
    display: none!important;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .icons img {
    width: 20px;
  }

  header .navbar {
    margin-top: 0px;
    display: block;
  }




  .first-screen-img, .bottom-img, .hero-img {
    height: 225px!important;
  }

  #first-screen h1 {
    font-size: 22px;
  }

  

 

  #first-screen .onTop {
    width: 30%!important;
    height: auto;
  }


  #sail {
    flex-direction: column;
    align-items: center;
  }

  #sail .sail-title {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 80%;
  }

  #sail .sail-title h3 {
    font-size: 27px;
  }

  #sail .sail-off img {
    width: 80%;
    margin-left: 5%; 
    height: auto;
  }

  #sail .sail-off h2 {
    font-size: 30px;
    top: 20%;
    left: 34%;
  }

  #info h2 {
    font-size: 33px;
  }

  #info .list {
    flex-direction: column;
    align-items: center;
  }

  #info .list li {
    text-align: center;
  }

  .bottom-img-message {
    margin-left: auto!important;
    margin-right: auto;
  }
  
  .bottom-img-message h2 {
    font-size: 20px;
    line-height: 25px;
  }
  
  .bottom-img-message h3 {
    font-size: 12px;
    line-height: 20px;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}














@keyframes page-title-animation {
  0% {
    height: 30%;
    width: 1px;
  }

  100% {
    height: 15px;
    width: 15px;
  }
}



@keyframes nav-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes st {
  0% {
    width: 0%;
    height: 0%;
  }

  45% {
    width: 100%;
    height: 0%;
  }

  55% {
    width: 100%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }

}


@keyframes st__bot {
  0% {
    width: 0%;
    height: 0%;
  }

  
  50% {
    width: 0%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }

}
























/* ### -------------------- THE END-------------------- ### */
