html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

a:hover {
  opacity: 0.7;
  transition: .3s;
  cursor: pointer;
}

.wow { visibility: hidden; }

.full_size_background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-full-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg {
  width: 100%;
  background: #fff;
}






/* ### HEADER ### */




/* ### FIRST SCREEN ### */

#first-screen {
  position: relative;
  max-width: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

#first-screen .first-screen-img {
  position: relative;
  width: 100%;
  height: 425px!important;
  -o-object-fit: cover;
  object-fit: cover;
  background-attachment: fixed;
  animation: title-img 3s cubic-bezier(0, .38, .86, 1);
}

#first-screen > .page-title {
  position: relative;
  background: #fff;
  width: 80%;
  height: 286px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: -90px auto 50px auto;
}

#first-screen h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 0px;
}

#first-screen h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

#first-screen h6 a {
  text-decoration: none;
  color: #000;
}

#first-screen h6 a:last-child {
  color: #AD936D;
}



#form {
  width: 90%;
  max-width: 570px;
  margin: 300px auto 200px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#form > .row {
  justify-content: space-between;
  margin: 10px 0px;
}

#form > .row > * {
  width: 100%;
  max-width: 278px;
  box-sizing: border-box;
  height: 42px;
  font-family: 'Open Sans';
}

#form input {
  border: 2px solid #000;
  background: #F7F7F7;
  padding: 10px;
  font-size: 14px;
  color: #454545;
  box-sizing: border-box;
}

#form textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #000;
  background: #F7F7F7;
  padding: 10px;
  font-size: 14px;
  color: #454545;
}

#form button {
  background: #454545;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}











/* ### FOOTER ### */

footer {
  width: 100vw;
  margin: auto;
  color: #fff;
  padding: 0;
  background-attachment: fixed;
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

footer > img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}



footer .logo {
  width: 297px;
  display: block;
  margin: auto;
  height: auto;
}

footer p {
  font-family: 'Lustria', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 0px;
}

footer .row {
  width: 292px;
  margin: auto;
}

footer .row p:last-child {
  padding-left: 24px;
}














/* ### -------------------- ADDAPYIVE -------------------- ### */

@media (min-width: 967px) and (max-width: 999px) {

  
}



@media (min-width: 480px) and (max-width: 769px) {


  .row {
    flex-direction: column;
  }

  .row > * {
    min-width: 100%;
    margin-bottom: 20px;
  }

  #first-screen > .page-title {
    width: 80%;
  }

  .first-screen-img {
    height: 325px!important;
  }

  #first-screen h1 {
    font-size: 30px;
    max-width: 80%;
    margin: auto;
  }

  #list h3 {
    text-align: center;
  }

  #list .row {
    width: 400px;
    margin: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #list ul {
    padding-left: 40px;
  }

  #list ul:last-child {
    padding-left: 40px;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}

@media (min-width: 0px) and (max-width: 479px) {

  header {
    padding-bottom: 0px;
  }

  .row {
    flex-direction: column;
  }

  .row > * {
    min-width: 100%;
    margin-bottom: 20px;
  }

  #form > * {
    margin: 10px auto;
  }

  header .logo-block img {
    width: 150px;
    padding-top: 3px;
  }

  header nav {
    display: none;
  }

  header > .contact-block {
    display: none;
  }

  header .icons {
    margin-top: 10px;
    margin-right: 15px;
  }

  header .icons img {
    width: 20px;
  }

  header .navbar {
    margin-top: 0px;
    display: block;
  }

  #first-screen img {
    height: 300px;
    object-fit: cover;
  }

  #first-screen .shop_house-plans-block {
    top: 260px;
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 22px;
    margin-top: 80px;
  }

  #first-screen .list-block ul li {
    line-height: 30px;
  }

  #first-screen .search {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #first-screen .search input {
    margin-bottom: 20px;
  }

  #first-screen .search button {
    margin-left: 0px;
  }

  #first-screen .card {
    width: 310px;
    height: 356px;
    margin: 5px 15px;
  }

  #first-screen .card img {
    width: 310px;
  }

  #list h3 {
    text-align: center;
  }

  #list .row {
    width: 70%;
    max-width: 300px;
    margin: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #list ul {
    padding-left: 40px;
    max-width: 100%;
  }

  #list ul:last-child {
    padding-left: 40px;
    max-width: 100%  ;
  }

  #form {
    width: 90%;
    max-width: 570px;
    margin: 100px auto 100px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}
































/* ### -------------------- THE END-------------------- ### */
