html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

a:hover:hover {
  opacity: 0.7;
  transition: .3s;
  cursor: pointer;
}

.wow { visibility: hidden; }

.full_size_background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-full-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg {
  width: 100%;
  background: #fff;
}








/* ### FIRST SCREEN ### */

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#first-screen {
  position: relative;
  width: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

#first-screen > .page-title {
  position: relative;
  background: #fff;
  width: 80%;
  max-width: 870px;
  height: 286px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 90px auto 90px auto;
}

.page-title-empty-place {
  width: 100%;
  height: 20px;
  background: #fff;
}

#first-screen .decor {
  animation: .5s page-title-animation ease-in;
}

#first-screen .top-decot-element {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

#first-screen .bot-decot-element {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#first-screen h1 {
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 0px;
  max-width: 700px;
}

#first-screen h6 {
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
  max-width: 400px;
}

#first-screen a {
  text-decoration: none;
  color: #000;
}


#first-screen h6 a:last-child {
  color: #AD936D;
}
















.bottom-img {
  width: 100%;
  height: 425px;
  margin: 0 0 auto 0;
  padding: 0;
  background-image: url(../img/thanks-footer.jpg);
  background-attachment: fixed;
}

.bottom-img-message {
  width: 90%;
  margin: auto;
  max-width: 580px;
  height: inherit;
  margin-left: 20vw;
  text-align: center;
  font-family: Lustria;
}

.bottom-img-message h2 {
  font-weight: 300;
  font-size: 50px;
  line-height: 64px;
  margin: 0;
}

.bottom-img-message h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
}

button {
  color: #fff;
  background: #454545;
  border: 1px solid transparent;
  text-transform: uppercase;
  width: 158px;
  height: 38px;
  font-family: 'Open Sans';
  margin-top: 25px;
  transition:  .8s ease-in-out
}




/* ### FOOTER ### */

footer {
  width: 100vw;
  margin: auto;
  background: #262626;
  color: #fff;
  padding: 0;
  background-attachment: fixed;
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

footer h2 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
}

footer h3 {
  font-family: 'Raleway', sans-serif;font-size: 48px;
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin: 10px;
}

.eco-block {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.eco-block img {
  margin-right: 10px;
}

footer .logo {
  width: 90%;
  max-width: 297px;
  display: block;
  margin: auto;
  height: auto;
}

footer p {
  font-family: 'Lustria', serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 0px;
}

footer .row {
  width: 292px;
  margin: auto;
}

footer .row p:last-child {
  padding-left: 24px;
}

footer nav {
  width: 80%;
  margin-left: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-around;
}

footer nav a {
  font-family: 'Lustria', serif;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}


button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  transition:  .8s ease-in-out
}

@keyframes page-title-animation {
  0% {
    height: 30%;
    width: 1px;
  }

  100% {
    height: 15px;
    width: 15px;
  }
}










/* ### -------------------- ADDAPYIVE -------------------- ### */

@media (min-width: 767px) and (max-width: 1100px) {

  

  #first-screen .shop_house-plans-block {
    width: 80%;
  }

  .contact-text {
    width: 100%;
  }

  .contact-text h4 {
    margin: 0px 0px 15px 0px;
  }

}



@media (min-width: 480px) and (max-width: 766px) {

  

  #first-screen .shop_house-plans-block {
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 30px;
    margin-top: 0px;
    padding-top: 50px;
    max-width: 400px;
  }

  #first-screen h6 {
    max-width: 300px;
  }

  .bottom-img-message {
    margin-left: auto!important;
    margin-right: auto;
  }
  
  .bottom-img-message h2 {
    font-size: 40px;
  }
  
  .bottom-img-message h3 {
    font-size: 22px;
  }
  
  

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }

}

@media (min-width: 0px) and (max-width: 479px) {

  #first-screen .shop_house-plans-block {
    width: 80%;
    height: 250px;
  }

  #first-screen h1 {
    font-size: 22px;
    max-width: 80%;
  }

  .bot-decot-element {
    display: none;
  }

  .top-decot-element {
    display: none;
  }

  #first-screen h6 {
    max-width: 200px;
  }

  .bottom-img-message {
    margin-left: auto!important;
    margin-right: auto;
  }
  
  .bottom-img-message h2 {
    font-size: 20px;
    line-height: 25px;
  }
  
  .bottom-img-message h3 {
    font-size: 12px;
    line-height: 20px;
  }

  footer h2 {
    font-size: 30px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer nav a {
    text-align: center;
    padding: 5px;
  }
}
































/* ### -------------------- THE END-------------------- ### */
